<header class="navbar-bronco fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand-bronco" routerLink="/">
      <img src="assets/ford-logo.png" alt="Ford Logo" class="ford-logo">
      <span class="brand-text">FORD BRONCO</span>
    </a>
    <nav class="navbar-nav-bronco">
      <ul class="nav-list-bronco">
        <li class="nav-item-bronco">
          <a class="nav-link-bronco" routerLink="/">Home</a>
        </li>
        <li class="nav-item-bronco">
          <a class="nav-link-bronco" routerLink="/ficha-tecnica">Ficha Técnica</a>
        </li>
        <li class="nav-item-bronco">
          <a class="nav-link-bronco" routerLink="/contato">Contato</a>
        </li>
      </ul>
    </nav>
  </div>
</header>