<footer class="bg-dark text-white text-center p-4 mt-auto">
  <div class="container">
    <p>&copy; 2025 Ford Motor Company. Todos os direitos reservados.</p>
    <p>
      <a href="https://www.facebook.com/FordBrasil/" target="_blank" class="text-white me-3">Facebook</a>|
      <a href="https://www.youtube.com/fordbrasil" target="_blank" class="text-white mx-3">YouTube</a>|
      <a href="https://www.instagram.com/fordbrasil" target="_blank" class="text-white mx-3">Instagram</a>|
      <a href="https://www.tiktok.com/@fordbrasil" target="_blank" class="text-white mx-3">TikTok</a>|
      <a href="https://www.linkedin.com/company/ford-brasil" target="_blank" class="text-white ms-3">LinkedIn</a>
    </p>
  </div>
</footer>